src/BO23 GUI/Service References/ServiceReference1/BKM00720Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BKM00720Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_BKM00720Service_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://smartmtinterface.cpf.co.th/BKM00720Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://smartmtinterface.cpf.co.th/BKM00720Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://smartmtinterface.cpf.co.th/BKM00720Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BKM00720Service" />
      <xsd:import schemaLocation="http://smartmtinterface.cpf.co.th/BKM00720Service.svc?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="BKM00720Service_Truck_Validate_InputMessage">
    <wsdl:part name="parameters" element="tns:Truck_Validate" />
  </wsdl:message>
  <wsdl:message name="BKM00720Service_Truck_Validate_OutputMessage">
    <wsdl:part name="parameters" element="tns:Truck_ValidateResponse" />
  </wsdl:message>
  <wsdl:message name="BKM00720Service_GetTicketLst_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTicketLst" />
  </wsdl:message>
  <wsdl:message name="BKM00720Service_GetTicketLst_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTicketLstResponse" />
  </wsdl:message>
  <wsdl:message name="BKM00720Service_Search_InputMessage">
    <wsdl:part name="parameters" element="tns:Search" />
  </wsdl:message>
  <wsdl:message name="BKM00720Service_Search_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchResponse" />
  </wsdl:message>
  <wsdl:message name="BKM00720Service_AddTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTicket" />
  </wsdl:message>
  <wsdl:message name="BKM00720Service_AddTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTicketResponse" />
  </wsdl:message>
  <wsdl:portType name="BKM00720Service">
    <wsdl:operation name="Truck_Validate">
      <wsdl:input wsaw:Action="http://tempuri.org/BKM00720Service/Truck_Validate" message="tns:BKM00720Service_Truck_Validate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BKM00720Service/Truck_ValidateResponse" message="tns:BKM00720Service_Truck_Validate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTicketLst">
      <wsdl:input wsaw:Action="http://tempuri.org/BKM00720Service/GetTicketLst" message="tns:BKM00720Service_GetTicketLst_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BKM00720Service/GetTicketLstResponse" message="tns:BKM00720Service_GetTicketLst_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Search">
      <wsdl:input wsaw:Action="http://tempuri.org/BKM00720Service/Search" message="tns:BKM00720Service_Search_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BKM00720Service/SearchResponse" message="tns:BKM00720Service_Search_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/BKM00720Service/AddTicket" message="tns:BKM00720Service_AddTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BKM00720Service/AddTicketResponse" message="tns:BKM00720Service_AddTicket_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomBinding_BKM00720Service" type="tns:BKM00720Service">
    <wsp:PolicyReference URI="#CustomBinding_BKM00720Service_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Truck_Validate">
      <soap12:operation soapAction="http://tempuri.org/BKM00720Service/Truck_Validate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTicketLst">
      <soap12:operation soapAction="http://tempuri.org/BKM00720Service/GetTicketLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap12:operation soapAction="http://tempuri.org/BKM00720Service/Search" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTicket">
      <soap12:operation soapAction="http://tempuri.org/BKM00720Service/AddTicket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BKM00720Service">
    <wsdl:port name="CustomBinding_BKM00720Service" binding="tns:CustomBinding_BKM00720Service">
      <soap12:address location="http://smartmtinterface.cpf.co.th/BKM00720Service.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://smartmtinterface.cpf.co.th/BKM00720Service.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>