src/BO23 GUI/Service References/ServiceReference1/BKM00720Service4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://smartmtinterface.cpf.co.th/BKM00720Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BKM00720Service" />
  <xs:element name="Truck_Validate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LicensePlate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Truck_ValidateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Truck_ValidateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketLst">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrgCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LicensePlate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketLstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BKM00720Service" minOccurs="0" name="GetTicketLstResult" nillable="true" type="q1:TicketModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrgCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LicensePlate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BKM00720Service" minOccurs="0" name="SearchResult" nillable="true" type="q2:SearchModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BKM00720Service" minOccurs="0" name="item" nillable="true" type="q3:ResultModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTicketResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>